<footer class="footer mt-auto bg-dark py-3 text-center">
  <div class="container">
    <span class="text-muted">&copy; Wild Camp 2021</span>
    <div class="text-muted">
      <small>
        Icons made by
        <a href="https://www.freepik.com" title="Freepik" class="text-warning"
          >Freepik</a
        >
        from
        <a
          href="https://www.flaticon.com/"
          title="Flaticon"
          class="text-warning"
          >www.flaticon.com</a
        >
      </small>
    </div>
  </div>
</footer>
