<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WildCamp</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"
      defer
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"
      defer
    ></script>
    <script src="/javascripts/gsap/gsap-home.js" defer></script>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/icons/favicon-16x16.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"
      defer
    ></script>
    <script src="/javascripts/gsap/gsap-home.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body class="d-flex bg-dark text-center text-white">
    <div class="cover-container d-flex p-3 mx-auto flex-column w-100">
      <header class="mb-auto">
        <div class="d-flex justify-content-between">
          <h3 class="mb-0">WildCamp</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="/campgrounds">Campgrounds</a>
            <% if (!currentUser) { %>
            <a class="nav-link" href="/register">Register</a>
            <a class="nav-link" href="/login">Login</a>
            <% } else { %>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>
          </nav>
        </div>
      </header>
      <main class="px-3">
        <div class="homePage">
          <h1>Go wild for a while.</h1>
          <a href="/campgrounds" class="btn btn-md-lg home-btn"
            >View campgrounds</a
          >
        </div>
      </main>
      <footer class="footer mt-auto text-white-50 py-2">&copy;2021</footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
      integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
  </body>
</html>
