:root {
  --primary: #44dd;
  --orange: rgb(248, 81, 3);
  --light-grey: #ddd;
  --dark-grey: #333;
}

#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}

img.img {
  object-fit: cover;
}

.pagination > li > a {
  background-color: white;
  color: var(--dark-grey);
}

.pagination > .active > a {
  color: white;
  background-color: var(--orange) !important;
  border: 1px solid var(--orange) !important;
  transition: 0.2s ease-in;
}

.pagination > li > a:hover {
  background-color: var(--light-grey) !important;
  color: var(--orange);
}
.pagination > .active > a:hover {
  border: solid 1px var(--orange);
  color: var(--orange);
}
.dropdown > a.dropdown-toggle {
  border: 1px solid var(--light-grey);
}
.dropdown > a.dropdown-toggle:focus,
.page-item > a.page-link:focus {
  outline: none !important;
  box-shadow: none;
}
.dropdown-item:hover {
  background-color: var(--light-grey);
}
.carousel-item > img {
  height: 400px;
}
