<% layout("layouts/boilerplate") %>
<script src="/javascripts/gsap/gsap-user.js" defer></script>

<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow user">
        <img
          src="/assets/images/nicholas-selman-4b41_r5D7VI-unsplash.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <h4 class="card-title">Register</h4>
          <form
            action="/register"
            method="POST"
            class="validated-form"
            novalidate
          >
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                name="username"
                id="username"
                autocomplete="off"
                autofocus
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="d-grid">
              <button class="btn btn-success">Sign up</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center text-muted">
          <a href="/login" class="btn btn-transparent card-link">login</a>
        </div>
      </div>
    </div>
  </div>
</div>
